################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/win-src/.vs
bin/
obj/
